# .NET (ASP.NET Core)
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
.vscode/

# React / Vite / Node 
node_modules/
dist/
.output/
.vite/
*.log

# secrets and settings
appsettings.Development.json
.env
.env.local
.env.*.local

# db
*.db
*.db-journal
*.sqlite